* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #343b53;
  border: none;
  outline: none;
}

body {
  background-color: #f8f5f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d5d5d5;
  position: relative;
  z-index: 0;
  height: 58px;
  background-color: #ffffff;
}

.navbar {
  width: 100%;
  height: 50px;
  padding: 6px 26px;
  display: flex;
  justify-content: space-between;
}

.navbar-logo img {
  height: 24px;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.navbar-item {
  cursor: pointer;
  font-weight: 500;
}

.navbar-item:hover svg path {
  fill: #4663be;
}

.navbar-button {
  background-color: transparent;
  border-radius: 3px;
}

.hidden,
.desktop,
.tablet-desktop {
  display: none;
}

.dropdown {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0px 0.5rem 1rem 0px rgba(0, 11, 38, 0.24);
  position: absolute;
  font-size: 14px;
  z-index: 1;
  padding: 0.8rem 0;
}

.dropdown-right {
  width: 375px;
  top: 50px;
  right: 1rem;
}

.dropdown-left {
  width: 375px;
  top: 50px;
  right: 0;
}
.dropdown-layout {
  padding: 1.5rem;
}

.middle-layout {
  border-bottom: 1px solid #a39e9e;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.dropdown-item {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  font-weight: 400;
  font-size: 14px;
}
.dropdown-item:hover {
  background-color: #e7edfd;
}

.decorated:hover {
  background-color: transparent;
  text-decoration: underline;
}

.dropdown-flag {
  width: 20px;
  margin: 5px;
}

.discount-image {
  display: flex;
  justify-content: center;
}
.discount-text {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 1.5rem 0 1.5rem 0;
}

.auth {
  font-size: 1rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
}

.auth a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.sign-in {
  background-color: #3662d8;
  height: 36px;
}

.sign-in a {
  color: white;
}
.sign-in:hover {
  background-color: #2850b9;
}

.sign-up {
  margin-top: 6px;
}

.sign-up:hover a {
  color: #4d63bc;
}

.modal-element {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.2px);
  z-index: 5;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  padding: 1rem 1rem 0.5rem;
}

.modal-header-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 500;
}

.close-modal {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
.close-modal:hover {
  background-color: #e7edfd;
}

.banner-container {
  width: 100vw;
  height: 100vh;
  background-color: #343b53;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text {
  font-family: inherit;
  color: white;
  width: 75%;
  font-size: 14px;
  line-height: 18px;
  margin-left: 10%;
}
.align-selects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.all-selects {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 2.5rem;
}

.region-select,
.language-select,
.currency-select,
.sort-select {
  background-color: transparent;
  border: 1px solid #757577;
  border-radius: 0.5rem;
  height: 3rem;
  width: 88vw;
  font-size: 1rem;
  line-height: 1.25rem;
  appearance: none;
  font-weight: 400;
  background-image: url("./assets/navbar/more.svg");
  padding: 18px 0 0 10px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

.select-field select:focus {
  border: 2px solid #3f60be;
}

.select-field {
  position: relative;
}

.select-field-text {
  position: absolute;
  top: 25%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 12px;
}

.select-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #3662d8;
  padding: 4px 16px;
  color: white;
  height: 48px;
  width: 88vw;
  border: none;
  border-radius: 8px;
  position: absolute;
  bottom: 1rem;
}
.select-button:hover {
  background-color: #2950b9;
}

.disabled {
  opacity: 0.5;
}

.expand-button {
  display: flex;
  align-items: center;
  height: 60px;
  border: 1px solid #d5d5d5;
  border-radius: 0.5rem;
  background-color: #ffffff;
  padding: 1rem;
  margin: 1rem;
}
.expand-button.hidden {
  display: none;
}

.expand-button-alignment {
  display: flex;
  width: 86vw;
  justify-content: space-between;
  align-items: center;
}

.expand-text-alignment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.expand-text {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
}

.expand-label {
  font-family: inherit;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}
.buttons-container-layout {
  display: grid;
  grid-template-columns: repeat(5, auto);
  width: 100vw;
  padding-right: 1rem;
}

.buttons-container {
  grid-column: span 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.search-form-button {
  font-family: inherit;
  width: fit-content;
  min-width: 220px;
  padding-right: 2rem;
  margin: 0.5rem;
  height: 48px;
  border: 1px solid #727483;
  border-radius: 0.5rem;
  background-color: #ffffff;
}
.search-form-button svg {
  margin-top: 3px;
}
.search-form-button:focus,
.search-form-button:active,
.departure-port-button:focus,
.departure-port-button:active,
.ship-button:focus,
.ship-button:active {
  box-shadow: 0 0 0 1px blue;
}

.search-form-button:focus svg path,
.departure-port-button:focus svg path,
.ship-button:focus svg path {
  fill: blue;
  animation: revert-color 1s forwards;
}

@keyframes revert-color {
  from {
    fill: blue;
  }
  to {
    fill: #343b53;
  }
}

.button-destination .datepicker {
  border: none;
  outline: none;
  height: 20px;
  width: 150px;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.daterangepicker {
  margin-top: -45px;
  margin-left: -50px;
  transform: scale(2);
  transform-origin: top left;
}

.search-form-button.ship,
.search-form-button.port {
  margin: 0.5rem 0;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.button-text {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4px;
}

.button-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.button-alignment {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 12px;
}

.dropdown-destination {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  overflow: scroll;
}

.dropdown-destination-header {
  padding: 0 48px 0 24px;
  height: 75px;
  border-bottom: 1px solid #d5d5d5;
}

.close-modal.destination {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.dropdown-destination-input,
.dropdown-departure-port-input,
.dropdown-ship-input {
  margin-top: 1.5rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  height: 50px;
}

.dropdown-destination-clear-button {
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 26px;
  cursor: pointer;
}

.destinations-container {
  height: 80vh;
  overflow: auto;
}

.destinations {
  display: flex;
  flex-direction: column;
}

.destination-button,
.departure-port-button,
.ship-button {
  height: 48px;
  width: 100%;
  gap: 6px;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 12px 24px;
  color: #141d38;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.destination-button.selected,
.departure-port-button.selected,
.ship-button.selected,
.filter-button {
  background-color: #e7edfd;
  box-shadow: inset 0 0 0 2px #141d38;
  color: #141d38;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  padding: 0 0.75rem;
  height: 2rem;
  width: fit-content;
  border-radius: 20px;
}

.destination-button.hidden,
.departure-port-button.hidden,
.ship-button.hidden {
  display: none;
}

.filter .destinations,
.filter .selected-departure-ports,
.filter .selected-ships {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px 16px;
  gap: 8px;
}

.destination-button:hover,
.departure-port-button:hover,
.ship-button:hover {
  background-color: #e7edfd;
}

.destination-button:active,
.departure-port-button:active,
.ship-button:active {
  background-color: #becdf7;
  box-shadow: none;
}

.destinations-footer {
  display: flex;
  justify-content: center;
}

.done {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-family: inherit;
  background-color: #3662d8;
  color: #ffffff;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.25rem;
  width: 90vw;
  height: 48px;
  font-weight: 500;
}

.done:hover {
  background-color: #2950b9;
}

.result-title {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.125rem;
  padding: 10px 16px;
  color: #141d38;
}

.clear-all-button {
  font-family: inherit;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  gap: 0.25rem;
  color: #3662d8;
  border-radius: 0.5rem;
  background-color: transparent;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.clear-all-button:hover {
  background-color: #e7edfd;
}

.dropdown-duration {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.dropdown-duration-header {
  display: flex;
  height: 36px;
  gap: 1rem;
  border-bottom: 1px solid #d5d5d5;
}

.duration-header-text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  margin-top: 0.25rem;
}
.all-durations {
  display: flex;
  gap: 0.5rem;
  margin: 2rem 1.5rem;
}

.duration-container {
  display: flex;
  flex-direction: column;
}

.duration-alignment {
  display: flex;
  flex-direction: column;
  height: 2.25rem;
  width: auto;
  background-color: #ffffff;
  border: 1px solid #727483;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0 11px;
}

.duration-label,
.duration-input {
  display: block;
}

.duration-input {
  font-size: 16px;
  font-weight: 500;
  height: 1rem;
}
.duration-label {
  font-size: 11px;
  margin-top: -4px;
  font-weight: 500;
}
.duration-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}
.duration.done {
  height: 48px;
}

.dropdown-travellers {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.dropdown-travellers-header {
  display: flex;
  height: 36px;
  gap: 1rem;
  border-bottom: 1px solid #d5d5d5;
}

.travellers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travellers-alignment {
  width: 88vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.plus-minus-buttons {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 1rem;
}
.align-children-text {
  display: flex;
  flex-direction: column;
}
.child-ages-text {
  font-size: 12px;
  line-height: 16px;
}

.adults-children-text {
  font-size: 14px;
  line-height: 18px;
}
.child-ages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.minus-button,
.plus-button {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.minus-button:focus,
.plus-button:focus {
  border: 2px solid blue;
}
.minus-button:focus path,
.plus-button:focus path {
  fill: blue;
}

.child-age {
  background-color: #ffffff;
  border: 1px solid #727483;
  border-radius: 0.5rem;
  color: #141d38;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  height: 48px;
  width: 210px;
  padding-left: 10px;
  appearance: none;
  background-image: url("./assets/navbar/more.svg"),
    url("./assets/main/asterisk.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: calc(100% - 10px) center, center right;
}

.select-container {
  position: relative;
}

.select-label {
  position: absolute;
  top: 2px;
  left: 0;
}

.asterisk {
  color: red;
}

.error-message {
  background-color: #ca2e2b;
  border-radius: 0.5rem;
  margin: 2rem;
  padding: 0.75rem;
}
.error-message h3 {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: inherit;
}

.search-button {
  background-color: #3662d8;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0.5rem;
}

.search-button:hover {
  background-color: #2950b9;
}

.layout-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.side-layout {
  display: none;
}

.main-layout {
  grid-column: span 12;
  z-index: 0;
}

.card {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  border-radius: 0.5rem;
  border: 1px solid #d5d5d5;
  margin: 1rem;
}

.duration,
.destination {
  font-size: 18px;
  line-height: 20.5714px;
  font-family: inherit;
  font-weight: 500;
}

.info {
  border-bottom: 1px solid #d5d5d5;
  padding: 1rem;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
}

.pricing {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  min-height: 74px;
  padding: 12px;
}

.cabin-experience {
  font-size: 0.625rem;
  line-height: 1.285;
}

.card-date {
  margin: 0.5rem 0;
}

.card-map a {
  color: #3662d8;
  font-weight: 400;
  margin-top: 1rem;
}

.itinerary {
  margin-bottom: 0.5rem;
}

.discount-percentage {
  font-family: inherit;
  background-color: #0e756a;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
  padding: 4px;
  width: 60px;
  border-radius: 15px;
  margin-bottom: 5px;
}

.original-price-container {
  display: flex;
  font-size: 14px;
  line-height: 18px;
}

.original-price {
  text-decoration: line-through;
}
.price {
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
}
.before-after-price {
  display: flex;
  align-items: center;
}
.carousel {
  grid-column: span 3;
  grid-row: span 2;
  min-height: 200px;
}

.info,
.pricing {
  grid-column: span 3;
}

.card.template {
  display: none;
}

.carousel {
  position: relative;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide[data-active] {
  opacity: 1;
}

.carousel-image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-button {
  width: 36px;
  height: 36px;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  border: none;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: #e7edfd;
}
.carousel-button:active {
  background-color: #becdf7;
}

.carousel-button.prev {
  left: 0.5rem;
}

.carousel-button.next {
  right: 0.5rem;
}

.cruise-line-logo {
  width: 1rem;
}

.align-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.cruises-found-div {
  font-size: 0.75rem;
  color: #343b53;
  max-width: 502px;
  margin: 0 1.25rem;
}

.banner-layout {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
  background-color: white;
  padding: 1rem;
  border: 1px solid #d5d5d5;
  border-radius: 0.5rem;
}
.banner-links {
  display: flex;
  font-size: 0.875rem;
  gap: 1.5rem;
  line-height: 1.125rem;
  margin-top: 0.5rem;
}
.banner-links a {
  color: #3662d8;
  text-decoration: underline;
}
.contact-text {
  color: #343b53;
  font-size: 0.875rem;
  font-family: inherit;
}
.banner-header {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.icon-container {
  width: 44px;
  height: 44px;
  background-color: #becdf8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper {
  font-size: 0.75rem;
  line-height: 1rem;
  min-width: 2rem;
  padding: 0 0.75rem;
  border-radius: 0.5rem;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
  height: 2rem;
  margin: 1rem 0 0.5rem 0;
}

.upper-sign-up {
  background-color: #141d38;
}

.upper-sign-up:hover {
  background-color: #4c5064;
}
.upper-icon-container {
  background-color: #f0ebe8;
  margin: 0.75rem;
}
.upper-banner-layout {
  background-color: #141d38;
  margin-top: 1.5rem;
}
.upper-banner-header {
  color: #ffffff;
  font-size: 14px;
  max-width: 350px;
  margin-right: 1rem;
}
.upper-banner-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.upper-banner-info {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .tablet-desktop {
    display: block;
  }
  .mobile,
  .desktop {
    display: none;
  }

  .main-navigation {
    height: 73px;
  }

  .navbar-logo img {
    height: 28px;
    margin-top: 3px;
  }

  .navbar-item a {
    text-decoration: none;
    color: inherit;
  }
  .navbar-item:hover,
  .navbar-item a:hover {
    color: #4663be;
  }

  .navbar-left,
  .navbar-right {
    gap: 22px;
  }
  .navbar-bell {
    width: 10px;
    margin-left: 3px;
  }
  .align-icon {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  .navbar-button {
    font-family: inherit;
    background-color: transparent;
    padding: 4px 16px;
    height: 50px;
    border-radius: 3px;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }
  .dropdown-left {
    position: absolute;
    top: 60px;
    left: 175px;
  }
  .modal-header {
    padding: 1rem;
  }
  .banner-container {
    height: 56px;
  }
  .banner-text {
    width: 90%;
  }
  .region-select,
  .language-select,
  .currency-select,
  .select-button {
    width: 94vw;
  }
}

@media (min-width: 1000px) {
  .desktop {
    display: block;
  }
  .mobile,
  .mobile-tablet {
    display: none;
  }
  .navbar {
    width: 93%;
    align-items: center;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }
  .navbar-left {
    gap: 15px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-bell {
    width: 10px;
    margin: 3px 0 0 3px;
  }

  .align-icon-desktop {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  .dropdown-left {
    position: absolute;
    top: 60px;
    left: 216px;
  }

  .modal-element {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 400px;
    overflow: hidden;
  }

  .modal-header {
    height: 48px;
    display: flex;
    justify-content: left;
    gap: 8px;
    align-items: center;
    padding: 6px;
  }

  .banner-container {
    width: 100%;
    height: 68px;
  }

  .banner-text {
    width: 78%;
  }

  .all-selects {
    width: 100%;
  }

  .region-select,
  .language-select,
  .currency-select,
  .select-button {
    width: 432px;
  }

  .sort-select {
    height: 48px;
    width: 196px;
    background-color: #ffffff;
  }
  .dropdown-right {
    position: absolute;
    top: 60px;
    right: 4.5rem;
  }

  .destination-wrapper,
  .duration-wrapper,
  .travellers-wrapper,
  .ports-wrapper,
  .ships-wrapper {
    position: relative;
  }

  .dropdown-destination {
    position: absolute;
    left: 0;
    top: 0;
    height: 516px;
    width: 375px;
    z-index: 10;
    overflow: hidden;
  }

  .dropdown-departure {
    width: 375px;
    top: 0;
    left: 0;
    padding-bottom: 0;
  }

  .dropdown-ship {
    width: 375px;
    top: 0;
    left: 0;
    padding-bottom: 0;
  }
  .dropdown-destination-header {
    width: 375px;
    height: 61px;
  }
  .dropdown-destination-input,
  .dropdown-departure-port-input,
  .dropdown-ship-input {
    margin: 0;
  }

  .destinations-container {
    height: 380px;
    border-bottom: 1px solid #d5d5d5;
  }

  .destinations-footer {
    display: flex;
    height: 62px;
    align-items: center;
    justify-content: end;
    padding: 12px;
  }

  .done {
    position: static;
    width: 70px;
    height: 36px;
  }
  .dropdown-duration {
    position: absolute;
    left: -55%;
    top: 3.7rem;
    padding: 1rem;
    width: 375px;
    height: 184px;
    border: none;
    z-index: 10;
  }
  .dropdown-duration-header {
    border: none;
  }
  .duration-header-text {
    font-size: 1.25rem;
  }
  .all-durations {
    margin: 0;
  }
  .duration-alignment {
    width: 166px;
  }
  .dropdown-travellers {
    position: absolute;
    left: -55%;
    top: 3.7rem;
    padding: 1rem;
    width: 375px;
    height: fit-content;
    border: none;
    z-index: 10;
  }
  .travellers-alignment {
    width: 330px;
    margin: 1rem 2rem 1rem 1.5rem;
  }
  .child-age {
    width: 156px;
  }
  .travelers.done {
    height: 48px;
    width: 348px;
  }
  .error-message {
    width: 100%;
    margin: 0;
  }

  .side-layout {
    display: block;
    grid-column: span 3;
    padding: 0;
    margin: 2.5rem 1.25rem 2rem 5rem;
    border-top: 1px solid #727483;
  }

  .side-checkbox,
  .side-radio {
    margin: 0.5rem 0.5rem 0.5rem 0;
    width: 1rem;
    height: 1rem;
  }

  .checkbox-alignment,
  .radio-alignment {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-left: 4px;
  }

  .main-layout {
    grid-column: span 7;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0 1.5rem 0 0.5rem;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    margin: 1.5rem;
    margin-left: 1rem;
  }

  .carousel {
    grid-column: span 3;
    grid-row: span 2;
  }

  .info {
    grid-column: span 6;
    grid-row: span 1;
  }

  .info ul {
    padding: 0;
  }

  .pricing {
    grid-column: span 6;
    grid-row: span 1;
  }

  .buttons-container {
    display: grid;
    grid-column: span 5;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    padding: 1rem 5.5rem;
    gap: 0.2rem;
  }

  .side-header {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 1rem 0;
  }
  .side-subheader {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem;
    margin-top: 1.5rem;
  }

  .main-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1rem 1.5rem;
  }

  #filter-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1.5rem;
    max-width: 735px;
  }

  .filter-button {
    margin: 0.25rem;
  }

  .remove-all-filters-button {
    font-family: inherit;
    background-color: transparent;
    color: #3662d8;
    cursor: pointer;
    text-decoration: underline;
    padding-left: 1.5rem;
    font-weight: 500;
    font-size: 0.875rem;
  }

  .cruises-found-div {
    margin: 0;
  }

  .upper {
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0.25rem 1rem;
    height: 36px;
  }

  .upper-banner-info {
    flex-direction: row;
    align-items: center;
  }
  .upper-banner-buttons {
    padding-bottom: 0.5rem;
  }

  .banner-layout {
    margin-right: 1.5rem;
  }
}
